
.formbuilder .selected {
  background: #f6f5f7;
}
.formbuilder form .form-group.selected:hover, .formbuilder form .form-group.selected {
  border: 1px solid #ddd;
}
.formbuilder form .form-group {
  border: 1px solid transparent;
  margin-bottom: 0px;
  padding: 9px;
}
.formbuilder form .form-group:hover {
  border: 1px dashed #333;
  cursor: pointer;
}
.formbuilder form .form-control:disabled {
  background-color: #fff;
  cursor: pointer;
}
.formbuilder h2 {
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 5px;
  padding: 7px;
}
.formbuilder h2:hover {
  border: 1px dashed #333;
  cursor: pointer;
}
.formbuilder h2.selected, .formbuilder h2.selected:hover {
  background: #f6f5f7;
  border: 1px solid #ddd;
}

.formbuilder .form-header button {
  margin-left: 10px;
}

.control-panel .control-panel-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.control-panel .add-field-list {
  margin: 0px;
  padding: 0px;
}
.control-panel .add-field-list li {
  float: left;
  list-style-type: none;
  margin: 0px 5% 10px 0px;
  padding: 0px;
  width: 45%;
}
.control-panel textarea {
  height: 130px;
}
.add-field-list button {
  text-align: left;
  width: 100%;
}

.footer {
    margin-top: 40px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}